.cover {
  max-width: 100%;
  margin: 92px auto 0;
  position: relative;
}

@media screen and (max-width: 1280px) {
.cover {
  width: calc(100% - 2*48px);
  margin-top: 92px;
}
}

@media screen and (max-width: 1024px) {
.cover {
  width: 100%;
  margin-top: 92px;
}
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    grid-gap: 16px;
    margin-top: 90px;
  }
}


@media screen and (max-width: 320px) {
  .cover {
    grid-gap: 16px;
    margin-top: 16px;
    margin-top: 66px;
  }
}
